extends ../layout

block content
  #navbar
    ul
      li
        a(href="/auth/google") Login with Google
  #loginContent
    div
      h1 BUG-HUB
      h3 A platform for developers to help other developers
      a(href="/auth/google")
      i(class="fa fa-angle-double-down fa-3x" aria-hidden="true")
  #team-member
    .grid
      h2 Team Members
      .item
        h4 Chris Chang
        img(src="../images/chris.jpg")
      .item
        h4 Kyle Peacock
        img(src="../images/kyle.png")
      .item
        h4 Sara Jay
        img(src="../images/sara.jpeg")
      .item
        h4 Nic Higuera
        img(src="../images/nic.jpg")
  #technology
    .tech
      h2 Technologies
      .item
        img(src="../images/jade.png")
      .item
        img(src="../images/javascript.png")
      .item
        img(src="../images/knex.png")
      .item
        img(src="../images/passport.png")
      .item
        img(src="../images/postgresql.png")
      .item
        img(src="../images/react.png")
  #open-source
    h2 OS project
    a(href="https://github.com/bug-hub/bug-hub-site") 
      img(src="../images/github.svg")
    h2 Find us on Git-Hub!