h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #f7f7f7;
}

p {
  font-weight: lighter;
}

.content {
  font-size: 18px;
}

label {
  display: inline-block;
  padding: 0;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin: 7px 0 0 0;
}

.errorCover {
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.errorDiv {
  border: 5px solid rgba(100,100,100,0.5);
  position: absolute;
  border-radius: 10px;
  padding: 20px;
  top: 40vh;
  background-color: rgba(150,100,255,0.5);
  color: black;
}

.inputGroup{
  font-size: 2em;
  color: #f7f7f7;
}

.inputGroup input {
  display:block;
  margin: 10px 0;
  width: 280px;
}
.categoryDropdown label, .categoryDropdown input {
  padding: 15px;
}

#aliasInput{
  color: #999999;
}

#photoInput{
  min-width: 280px;
  max-width: 280px;
  color: #999999;
  max-height: 45px;
}

#submit {
  width: 100px;
}


#button {
  position: absolute;
  top: 80vh;
  left: 45%;
}

.menu {
  position: fixed;
  right: 0vw;
  font-size: 20px;
  width: 20vw;
  padding: 10px;
  background-color: rgba(100,100,100,0.5);
}

.bodyDiv {
  margin: 0 auto;
  background-color: rgba(50,50,200,0.1);
  border-radius: 10px;
  margin: 10px;
  width: 80vw;
  height: auto;
  padding: 2vw;
}

.commentDiv, .bodyBody {
  min-height: 25vh;
  background: #8b9dc3;
  margin: 10px;
  height: auto;
  padding: 2vw;
}

#commentEdit {
  margin-bottom: 10vh;
}



.commentBody {
  margin-left: 8vw;
}

.commentAuthor, .postAuthor {
  color: #f7f7f7;
  font-weight: lighter;
  font-size: 1.2em;
  margin-left: 10px;
}

.icon {
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 0;
}

.deleteBtn {
  float: right;
}

.editBtn, .newBtn {
  float: right;
}

.profilePhoto {
  max-height: 200px;
  margin-bottom: 10px;
}

.profileDiv {
  width: 60%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  border-radius: 5px;
  padding-left: 2vw;
}

.thumb {
  max-height:40px;
}



.caret {
  margin: 10px;
}

.dropdown-menu {
  padding:20px;
  font-size:1.5em;
}


.editProfileDiv{
  border: 2px solid black;
  padding-top: 15px;
  padding-left: 60px;
  border-radius: 10px;
  position: relative;
}



.CodeMirror, .CodeMirror-scroll {
  max-height: 100px;
}

.bodyStyle{
  background-color: #66CDAA;
}

.accountTile {
  width: 95%;
  border-top: 2px;
  border-color: gray;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 5px;
  padding-left: 3vw;
  }

.ReactButton {
  float:right;
  margin: 2px;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3b5998;
  position: fixed;
  width: 100vw;
  height: 10%;
  top: 0;
  z-index: 15;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  margin-right: 2vw;
  text-decoration: none;
}


#navbar a, #navbar-inverse {
  font-size: 1.8em;
  text-decoration: none;
}

a:link, a:visited, a:hover {
  color: #f7f7f7;
}

#loginContent {
  display: flex;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
  justify-content: center;
  align-items: center;
  background: url('../images/bug.jpg');
  background-size: 100% 100%;
  position: relative;
  height: 100vh;
  width: 100vw;
}


i {
  color: #fff;
}

#team-member {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  text-align: center;
}

#team-member h4 {
  color: #3b5998;
  padding-bottom: 2%;
}

.grid {
  padding-top: 1%;
  padding-bottom: 1%; }
  .grid:before, .grid:after {
    content: '';
    display: table; }
  .grid:after {
    clear: both; }
  .grid .item {
    margin-top: 2%;
    display: relative;
    z-index: 3;
    float: left;
    width: 24%; }
    .grid .item:nth-child(n) {
      margin-right: 1%;
      margin-bottom: 1%; }
    .grid .item:nth-child(5n) {
      margin-right: 0;
      margin-bottom: 0; }
  .grid img {
    display: block;
    position: relative;
    z-index: 5;
    border-radius: 3%;
    max-width: 100%;
  }

#technology, #open-source {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  text-align: center;
}

.tech {
  padding-top: 1%;
  padding-bottom: 1%; }
  .tech:before, .tech:after {
    content: '';
    display: table; }
  .tech:after {
    clear: both; }
  .tech .item {
    display: relative;
    z-index: 3;
    float: left;
    width: 15.7%; }
    .tech .item:nth-child(n) {
      margin-right: 1%;
      margin-bottom: 1%; }
    .tech .item:nth-child(5n) {
      margin-right: 0;
      margin-bottom: 0; }
  .tech img {
    margin-top: 10%;
    display: block;
    position: relative;
    z-index: 5;
    border-radius: 3%;
    max-width: 100%; }


body {
  background: #dfe3ee;
}

#open-source h2, #technology h2, #team-member h2 {
  background: #3b5998;
  color: #f7f7f7;
}

img {
  margin-top: 2%;
  max-width: 20%;
  max-height: 30%;
  margin-bottom: 2%;
}

@media only screen 
  and (max-device-width: 1000px) {
    h1 {
      font-size: 10em;
    }
    h2 {
      font-size: 5em;
    }
    h3 {
      font-size: 4em;
    }
    h4 {
      font-size: 2em;
    }
    li {
      font-size: 2em;
    }
    i {

    }
  }

.navbar-brand {
  font-size: 2em;
}
.container-fluid, .body-content {
  background: #3b5998;
}

#account-page, #create-post {
  padding-top: 2%;
  min-height: 100vh;
}

#account-page h3, #account-page h4, #account-page h1 {
  font-weight: lighter;
}

.body-content {
  padding-top: 2%;
  min-height: 100vh;
}

.usersDiv {
  background: #3b5998;
}

.tile {
  margin-top: 1%;
  background: #8b9dc3;
  padding-left: 2%;
  padding-right: 2%;
}

.tile h4, .tile h3, .body-content h2{
  font-weight: lighter;
}

hr {
  border-color: #8b9dc3;
}

.dropdown-menu {
  background: #3b5998;
  color: #f7f7f7;
}

label, .checkbox label, td {
  font-weight: lighter;
}

.dropdown {
  float: right;
  position: fixed;
  right: 0;
  top: 15vh;
}

.editor-toolbar, .editor-statusbar, .categoryDropdown {
  background: #f7f7f7;
}

.title-container, .categoryDropdown {
  text-align: center;
  font-size: 1.5em;
}
.title-container label {
  font-size: 2em;
  color: #fff;
}

.title { 
    width: 100%;
    margin-bottom: 2%;
}

.btn-primary {
  background: #8b9dc3;
  border-color: #8b9dc3;
  float: right;
  display: block;
}

#nav li:hover {
  background-color: #8b9dc3;
}

th {
  width: 100%;
  font-size: 2em;
  color: #f7f7f7;
  font-weight: lighter;
}

td {
  font-size: 1.5em;
}


#deleteAccount{
  font-size: 2em;
  color: #f7f7f7;
}

.btn-danger {
  margin-left: 2%;
}

.reset {
  margin: 0;
}

.body-content img {
  min-width: 100px;
  min-height: 100px;
  max-height: 5%;
  margin-right: 2%;
  max-width: 30%;
}