extends ../layout

block content
  .container-fluid.body-content
    h2(class="text-center") Bug Hub Users
    table(class="table")
      thead
        th Username:
      tbody
        each user in users
          tr
            td
              img(src="#{user.photo}") 
              a(href="/users/#{user.id}/posts") #{user.alias}

      tfoot